// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new_recipes_container {
  display: flex; /* Flexbox を使用して子要素を横に並べる */
  flex-wrap: wrap; /* 子要素が折り返すようにする */
  justify-content: space-around;
  gap: 20px; /* 商品間の間隔を設定 */
}

.new_recipes {
  text-align: center; /* 文字を中央揃え */
  margin-bottom: 20px; /* 下の余白を追加 */
}
.hover:hover {
  /* ホバーエフェクトのスタイルをここに追加 */
  background-color: #f5f5dc;
  cursor: pointer; /* マウスカーソルをポインターに変更*/
  border-radius: 10px;
  /* 他のホバーエフェクトのスタイルを追加できます */
}