// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mypage-table th, .mypage-table td {
  color: #3A5734;
}

.mypage-table {
  border: 1px solid #f5f5dc;
}

.confirmation {
  color: #ff6347;
}
