<% if recipe.favorited_by?(current_user) %>
  <p>
    <%= link_to recipe_favorite_path(recipe.id), method: :delete, class: "btn btn-light custom-favorite", remote: true do %>
      お気に入り<i class="fa-solid fa-heart"></i><%= recipe.favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to recipe_favorite_path(recipe.id), method: :post, class: "btn btn-light custom-favorite", remote: true do %>
      お気に入り<i class="fa-regular fa-heart"></i><%= recipe.favorites.count %>
    <% end %>
  </p>
<% end %>