<!--エラーが起きた時に分かりやすいようにf.をj.に変更-->

<div class="ingredient-fields row align-items-center">
  <!--編集の際データベースからも削除できるように-->
    <%= j.hidden_field :_destroy %>
  <div class="col">
    <div class="form-group">
      <%= j.text_field :content, placeholder: "材料名(必須)", class: 'form-control light-placeholder' %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= j.text_field :quantity, placeholder: "分量(必須)", class: "form-control light-placeholder" %>
    </div>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-light custom-light remove-ingredient mb-3">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>

<script>
  $(document).ready(function(){
      // 削除ボタンがクリックされたときの処理
    $(document).on('click', '.remove-ingredient', function(){
     // クリックされた.削除ボタンに最も近い.ingredient-fieldsを削除する
      $(this).closest('.ingredient-fields').find("input[name$='[_destroy]']").val('true');
     // そして、そのフィールドを隠す
      $(this).closest('.ingredient-fields').hide();
    });
  });
</script>