<section class="ingredient">
  <% recipe.ingredients.each do |ingredient| %>
    <div class="ingredient__list row m-2">
      <div class="col-6"><%= ingredient.content %></div>
      <div class="col-6"><%= ingredient.quantity %></div>
    </div>
  <% end %>
</section>