<section class="procedure">
  <% recipe.procedures.each do |procedure| %>
    <ul class="procedure__list">
      <li>
        <%= procedure.direction %>&emsp;
        <% if procedure.image.attached? %>
          <%= image_tag procedure.get_image(150, 150), class: "img-fluid" %>
        <% end %>
      </li>
    </ul>
  <% end %>
</section>