<div class="container p-2">
  <div class= "row">
    <!--1日目メニュー一覧（1日目メニュー検索機能-->
    <div class= "col-md-2 mt-5">
      <%= render "public/original_menus/list", original_menus: @original_menus %>
    </div>
    <!--おしまい-->

    <div class="col-md-8 ">
      <!--レシピ一覧タイトル-->
          <h2 class="title">レシピ一覧</h2>
          <p>(全<%= @recipes_count.count %>件)</p>

      <!--レシピ一覧テンプレート-->
      <%= render "public/recipes/index", recipes: @recipes %>
      <!--おしまい-->
    </div>

    <div class= "col-md-2">
      <!--お気に入りランキングrenderを記載する-->
      <%= render 'public/favorites/rank', all_ranks: @all_ranks %>
    </div>
  </div>
</div>