<div class="container">
  <div class="row justify-content-center">
    <div class= "col-12 text-center my-4">
      <h2>ようこそ、FUTSUKAMEnu へ！</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <p>FUTSUKAMEnu は、</p>
      <p>毎日忙しい中ご飯を作っている方や、楽に美味しいご飯を作りたい方のため</p>
      <p>「昨日の晩御飯が余って2日連続同じメニューになりそう」</p>
      <p>「今日のご飯と、ついでに明日のご飯も決めたい！」</p>
      <p>といった悩みを解消するための</p>
      <p>既存メニュー（1日目メニュー）のリメイクレシピ専用のレシピサイトです。</p>
    </div>
    <div class="col-6 text-center">
      <%= image_tag 'top_curry.jpg', class: "img-fluid mx-auto my-5 d-block" %>
    </div>

    <div class="col-3 text-center">
      <p>ゲストログインでは閲覧のみ可能になります。</p>
      <p>レシピ投稿やお気に入り追加、コメント追加に関しては</p>
      <p>新規会員登録が必要となります。</p>
      <p>本ページ上部の　会員登録、ログインリンクからお進みください。</p>
    </div>
  </div>
</div>