<div class="container">
  <div class="row justify-content-center">
    <div class= "col-12 text-center my-4">
      <h1 class= "title"><b>ようこそ、FUTSUKAMEnu へ！</b></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 text-center m-4">
      <p>FUTSUKAMEnu は、</p>
      <p>毎日忙しい中ご飯を作っている方や、楽に美味しいご飯を作りたい方のため</p>
      <p>「昨日の晩御飯が余って2日連続同じメニューになりそう」</p>
      <p>「今日のご飯と、ついでに明日のご飯も決めたい！」</p>
      <p>といった悩みを解消するための</p>
      <p><b>既存メニュー（1日目メニュー）のリメイクレシピ専用のレシピサイトです。</b></p>
      <p>皆さまの日々の生活に少しでも貢献できれば幸いです。</p>
      <h5><b>Enjoy your meal!</b></h5>
    </div>

    <div class="col-md-12 col-sm-12 text-center m-4">
      <p>レシピ投稿やお気に入り追加、コメント追加に関しては</p>
      <p>新規会員登録が必要となります。</p>
      <p>本ページ上部の　会員登録、ログインリンクからお進みください。</p>
    </div>
  </div>
</div>