<div class="container p-2">
  <div class= "row">
    <div class="col-md-10 offset-md-1 ">
      <div class="row">
        <h2 class="title mb-3"><strong>1日目メニュー一覧</strong></h2>
      </div>
      <div class="row">
        <% @original_menus.each_slice(25) do |original_menus_batch| %>
          <div class="col original-menu-list">
            <% original_menus_batch.each do |original_menu| %>
              <ul>
                <!--クエリパラメータで1日目メニューidを指定-->
                <li>
                  <%= link_to recipes_path(original_menu_id: (original_menu.id)), class:"link" do %>
                    <%= original_menu.name %>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        <% end %>
        <div class="d-flex justify-content-center mt-3 pagination">
          <%= paginate @original_menus %>
        </div>
      </div>
    </div>
  </div>
</div>