// Place all the styles related to the admin/recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .table-hover tbody tr:hover {
    background-color: #f5f5dc;
  }
  .table {
    color: #3A5734;
    border-color: #3A5734;
  }
  .table-admin td:nth-child(1) {
  width: 15%;
  }
  /* 2番目から4番目のtd要素に30%の幅を設定 */
  .table-admin td:nth-child(2),
  .table-admin td:nth-child(3),
  .table-admin td:nth-child(4) {
    width: 28%;
  }