/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
 }

header, main, footer {
  width: 100%;
  font-family:"Lexend Deca",Arial,sans-serif;
  color: #3A5734;
}

.btn-light.custom-light {
  color: #3A5734; /* テキストの色を調整 */
  font-family: 'Murecho', sans-serif;
}

.btn-light.custom-light:hover {
  background-color: #f5f5dc; /* ホバー時の背景色を変更 */
  border-color:#f5f5dc;
  color: #3A5734; /* テキストの色を調整 */
}

.nav-item {
  font-family: 'Murecho', sans-serif;
  color:#3A5734;
}

.title {
  font-family: 'Murecho', sans-serif;
  color:#3A5734;
}

.link {
  color:#3A5734;
}

.link-highlight {
  color:#3A5734;
  background-color: #f5f5dc;
  font-family: 'Murecho', sans-serif;
}

.field {
  color:#3A5734;
}

.pagination{
  width: fit-content;
  margin: 25px auto;
  font-size: 0.8rem;
  line-height: 2rem;
}

.first a,
.prev a,
.page a,
.next a,
.last a{
  color: #3A5734 !important;
  text-decoration: none;
  padding: 5px;
  margin: 2px;
  border: 1px solid #3A5734;
}

.first a:hover,
.prev a:hover,
.page a:hover,
.next a:hover,
.last a:hover{
  border: 1px solid #3A5734;
  background-color: rgba(255, 99, 71, 0.5);
  color: #3A5734;
}

body {
  background-image: image-url("colortomato.jpg");
  background-attachment: fixed
}

.btn-light.custom-light-important {
  color: #ff6347;
  font-family: 'Murecho', sans-serif;
}

.btn-light.custom-light-important:hover {
  background-color: #ffe4e1;
  border-color:#ffe4e1;
  color: #ff6347;
}