<div class="container">
  <div class="row m-5 justify-content-center">
    <div class="col text-center">
      <h2 class="confirmation"><strong>本当に退会しますか？</strong></h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <h4><b>
        退会すると、会員登録情報や<br>
        レシピの閲覧、投稿等ができなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。<br>
        <br>
        *ただし、退会後も投稿済みのレシピは掲載されますので<br>
        必要な場合はレシピ削除後に退会手続きを行なってください。
      </b></h4>
    </div>
  </div>
  <div class="row m-3 justify-content-center">
    <div class="col-4 m-4 text-center">
      <%= link_to '退会しない', mypage_path, class: "btn btn-light custom-light" %>
    </div>
    <div class="col-4 m-4 text-center">
      <%= link_to '退会する', users_withdraw_path, method: :patch, class: "btn btn-light custom-light-important", data: { confirm: "本当に退会しますか？" } %>
    </div>
  </div>
</div>